<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.name }} is Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css">

</head>
<body>
<h2>
    <img alt="Avtatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png')}}">
    {{ user.name }} is Watchlist

</h2>
{# 使用length 过滤器获取movies变量的长度#}
<p>{{ movies|length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %} {# 迭代movies变量#}
    <li>{{ movie.title}} - {{ movie.year }}</li>
    {% endfor %} {# 使用endfor结束for语句#}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif')}}">


<footer>
    <small>&copy;2019 <a href="http://helloflask.com/tutorial">HelloFlask</small>
</footer>
</body>
</html>